<!DOCTYPE html>
<html>
  <head>
    <title>Job Pusher | Create Job</title>
    <style>
      label { display: block; padding: 5px; }
      .label { display: inline-block; width: 200px; text-align: right; padding-right: 10px; vertical-align: top }
    </style>
    <script>
      function jsonify () {
        const txt = document.querySelector('textarea[name="payload"]');
        try {
          const val = window.eval('(' + (txt.value.trim() || null) + ')');
          txt.value = JSON.stringify(val, false, "  ");
        } catch (err) {
          alert(err.message);
        }
      }
    </script>
  </head>
  <body>
    <div>
      <a href="/">Root</a>
      /
      <a href="/jobs">Jobs</a>
      /
      Create Job
    </div>
    <hr>
    <form method="POST">
        <label>
          <span class="label">
            Topic
          </span>
          <input name="topic" list="topics">
          <datalist id="topics">
            <%topics.forEach(v => {%>
              <option value="<%=v%>">
            <%})%>
          </datalist>
        </label>
        <label>
          <span class="label">
            Priority
          </span>
          <select name="priority">
            <option value="0">P0</option>
            <option value="1" selected>P1</option>
            <option value="2">P2</option>
          </select>
          Smaller number run first
        </label>
        <label>
          <span class="label">
            Payload<br>
            <a href="javascript:jsonify()" style="font-size: 12px;">JSONify</a>
          </span>
          <textarea name="payload" rows="10" cols="50"></textarea>
        </label>
        <label>
          <span class="label"></span>
          <input type="hidden" name="from" value="form">
          <input type="submit" value="Enqueue">
        </label>
    </form>
  </body>
</html>